
<div class = "container">
	<div class="wrapper">
		<form   class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">       
			<h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			<p style="color:red">{{errormessage}}</p>
			  <hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" [(ngModel)]="username"  name="Username" placeholder="Username" required="" autofocus="" />
			  <input type="password" class="form-control" [(ngModel)]="password" name="Password" placeholder="Password" required=""/>     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit">Login</button>  			
		</form>			
	</div>
</div>